
* {
    padding: 0;
    margin: 0;
}

table,th,td{
    background-color: wheat;
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 80%;
    height: 60%;
    text-align: center;
    transition: 1s;
    box-shadow: 10px 10px 20px 20px black inset;
}

table:hover {
    transform: scale(1.1);
}

input{
    margin: 40px;
    width: 200px;
    height: 30px;
}