table,tr,td {
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 20px;
}



tbody:nth-child(even) {
    background-color: rgb(194, 59, 59);
}

#container {
    min-height: 100vh;
    padding: 5%;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    background:linear-gradient(to top right, rgb(255, 255, 255)1%,rgb(217, 142, 142));
    flex-direction: column;
}

.bookapply {
    display: flex;
    width: 40%;
    height: 30vh;
    background-color: rgb(135, 91, 82);
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    padding: 20px;
    transition: transform .3s;
}

.bookapply input {
    height: 40px;
    border-radius: 20px;
    padding-left: 10px;

}

.bookapply:hover {
    transform: scale(1.05);
}

.bookapply input:focus {
    background-color: rgb(116, 73, 28);
    color: white;
}

button {
    padding: 10px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    transition:  .3s background-color, .3s color;
    
}

button:hover {
    background-color: brown;
    color: white;
}