
<div id="container">
  <h1>Books Application</h1>
  <br>
  <div class="bookapply">
  <input id="newBook" placeholder="title"> <br>
  <input id="newDesc" placeholder="description"> <br>
  <input id="newPrice" placeholder="book price"> <br>
  <button (click)="addBook()">Add book</button>
  </div>
  <br>
  <table>
    <thead>
      <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
     </tr>
    </thead>

    <tbody  *ngFor="let book of books">
    <tr>
    <td>{{book.title}}</td>
    <td>{{book.description}}</td>
    <td>{{book.price}}  </td>
    <td><button (click)="deleteBook(book.id)">Delete book</button></td>
  </tr>
    </tbody>
  </table>
  
  </div>